<div class="container">
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<a href="/createTask" class="btn btn-primary">Create New Task</a>
<div style="width: 100%;">
    <form action="/createTask" method="post">
  <div class="form-group">
   
    <input type="text" class="form-control" id="groupCode" name="groupCode" placeholder="Enter Code">
  </div>
  
  <button type="submit" class="btn btn-primary">joinRoom</button>
</form>
</div>

</div>